.container {
  width: 100vw;
  height: 100vh;
  /* background-color: orange; */
  display: flex;
  justify-content: center;
  align-content: center;
}
.game {
  width: 70vh;
  height: 70vh;
  background-color: blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 20px;
}
.box {
  width: 15vh;
  height: 15vh;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
}
.box:hover {
  background-color: white;
}

* {
  margin: 0;
}
